<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Pet Adoption</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg mb-5" id="main-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pet Adoption</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-info fw-bold" aria-current="page" href="/add">Add Pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bold" href="/available_pets">Available Pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bold" href="/unavailable_pets">Adopted Pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary fw-bold" href="/add_species">Add Species</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content%} {% endblock %}
</body>

</html>