{% extends 'base.html' %}

{% block content %}
<div class="container col-4">
    <form action="/add" method="POST">
        {{ form.hidden_tag() }}

        {%for field in form if field.widget.input_type != 'hidden'%}
        <div class="mb-3">
            {{field.label(class_='form-label')}}
            {{field(class_="form-control")}}
            {% for error in field.errors %}
            <p class="text-danger">
                {{error}}
            </p>
            {% endfor%}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Add Pet</button>
    </form>
</div>

{% endblock %}